https://www.smashingmagazine.com/2012/04/pure-css3-cycling-slideshow/
http://www.cssscript.com/pure-html-css-responsive-carousel-cari/
http://codepen.io/paulnoble/pen/ZYOzLG
http://www.designmadeingermany.de/slideshow/#a1
